.flex {
    display: flex;

    &-row {
        flex-direction: row;
    }

    &-col {
        flex-direction: column;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}