{%extends "view-templates/base.html"%}
{% block metaData %}
    {{ super() }}
    <meta id="landing_page_url" content="{{ url_for('views.landing')}}">
{% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='verify/css/verify.css')}}">
{% endblock %}
{% block title %}
    verfiy account
{% endblock %}
{% block headerButtons %}
{% endblock %}
{% block headerMenuButtons %}
{% endblock %}
{% block content %}
    <h2>Your account hasn't been verified yet! Please check your email-account.</h2>
    <div class="buttons" id="new_verify_link_button">
        <a>Request a new link</a>
    </div>
{% endblock %}
{% block javascript %}
    {{ super() }}   
    <script type="text/javascript" src="{{ url_for('static', filename='verify/js/verify.js')}}"></script>
{% endblock %}

