{%extends "view-templates/base.html"%}
{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='verify/css/verify.css')}}">
{% endblock %}
{% block title %}
    verified account
{% endblock %}
{% block headerButtons %}
{% endblock %}
{% block headerMenuButtons %}
{% endblock %}
{% block content %}
    <h2>Your account was verfied. You can now log into your acount!</h2>
    <div class="buttons">
        <a href="{{ url_for('view_auth.login') }}">Login</a>
    </div>
{% endblock %}

